<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU1gEM50VGBMt-00AB0PYBieeKLSz0qKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>966347289957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ept.baseapp.baseApp</string>
	<key>PROJECT_ID</key>
	<string>base-app-project-ept</string>
	<key>STORAGE_BUCKET</key>
	<string>base-app-project-ept.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966347289957:ios:94db330b7a948809439d8c</string>
</dict>
</plist>